html, body{
    height: 100%;
    max-height: 100%;
    background-color: #edeef2;
}



.product-item{
    height: 380px;
    background: white;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: large;
    position: relative;

}
.main-items{
    padding-bottom: 10%;
}

.section-top{
    margin-bottom: 20px;
}

.description{
    font-size: medium;
    color: darkgray;
}


/*.add-to-cart-btn{*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*padding-bottom: 10px;*/
    /*left: 32%;*/
    /*right: 32%;*/
/*}*/

/*.add-to-cart-btn{*/
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*left: 82px;*/
/*}*/


@media only screen and (max-width: 768px) and (min-width: 520px) {

    .product-item {
        height: 444px;

    }
}
@media only screen and (max-width: 420px){
        .product-item {
        height: 330px;

    }
}
.section-top{
    height: 500px;
}

.bc{
    position: absolute;
    padding-bottom: 5px;

}

.button-row{
    display: flex;
    justify-content: center;


}