html, body{
    height: 100%;
    max-height: 100%;
}

.general-container{
    background-image: url("http://www.powerpointhintergrund.com/uploads/sea-background-slides-11.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

}

.top-container{
padding-top: 10%;
}

