{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Play" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class ="general-container">
        <div class="top-container">
            <div class="container">
                <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
                           <h1 class="title text-center ">Наш магазин скоро откроется<br>
                           Оставляйте ваш имейл в форме ниже</h1>
                        </div>
                 </div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form action="" method="POST" class="form-inline text-center"> {% csrf_token %}
                                <div class="form-group">
                                    <label></label>
                                    <input type="text" name="{{ form.name.name }}" placeholder="Input your name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <input type="email" name="{{ form.name.email }}" placeholder="Input your email" class="form-control">
                                </div>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </form>
                            </div>
                         </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>